@use "abstract/colors";
@use "abstract/font";
@use "abstract/reset";

body {
    font-family: "HankenGrotesk", sans-serif;
    color: colors.$paleIce;
    overflow-x: hidden;
    font-size: 18px;
};

/*Main Section*/

.main {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: colors.$nightGradient;
    overflow: hidden;
};

.header {
    display: block;
    height: 100vh;
    width: 100vw;
    position: relative;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
        font-size: 4rem;
    };
};

h2 {
    font-weight: 700;
    font-size: 2rem;
    border: 2px solid colors.$paleIce;
    border-radius: 20px;
    background-color: colors.$nightReverse;

}

/*Main Section End*/

/*Projects section*/

.projects {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
};

.proj-grid {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    background: colors.$nightReverse;
    padding: 2rem;
    border-radius: 20px;
    gap: 3.2rem;
    flex-wrap: wrap;
};

/*Project cards*/

.project {
    position: relative;
    

    img {
        display: block;
        width: 200px;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
        object-fit: cover;
        filter: brightness(33%);
        z-index: 1;
        transition: 0.25s ease, 
    };

    .proj-text {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.25s ease;

        .card-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.5rem;
            margin: 1rem;
            padding: 1rem;
            
        }
    };

    .tech {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-weight: 500;
        gap: 1rem;
    
        .html {
            color: colors.$sOrange;
            transition: 0.25s ease;
        }
        .css {
            color: colors.$skyBlue;
            transition: 0.25s ease;
        }
        .scss {
            color: colors.$pPink;
            transition: 0.25s ease;
        };
    
    };

    &:hover {
        img {
            transform: scale(1.1);
            box-shadow: 0px 0px 30px 9px colors.$pBlue;
            filter: brightness(100%);
        };
        .proj-text, .tec {
            color: transparent;
        };
    };
};


