

$lightRed: hsl(0, 100%, 67%);
$paleRed: hsla(0, 100%, 67%, 0.05);
$orangeYellow: hsl(39, 100%, 56%);
$paleYellow: hsla(39, 100%, 56%, 0.05);
$greenTeal: hsl(166, 100%, 37%);
$paleTeal: hsla(166, 100%, 37%, 0.05);
$cobaltblue: hsl(234, 85%, 45%);
$paleBlue: hsla(234, 85%, 45%, 0.05);

$slateBlue: hsl(252, 100%, 67%);
$royalBlue: hsl(241, 81%, 54%);
$gradient1: linear-gradient($slateBlue, $royalBlue);

$violetBlue: hsla(256, 72%, 46%, 1);
$persianBlue: hsla(241, 72%, 46%, 0);
$gradient2: linear-gradient($violetBlue, $persianBlue);


$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);
$lightGrayBlue: hsla(224, 30%, 27%, 0.5);
$boxShadow: hsla(241, 72%, 46%, 0.1);
